<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.doctor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/logoapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoapp"
        android:supportsRtl="false"
        tools:replace="android:supportsRtl"
        android:allowBackup="true"
        android:theme="@style/Theme.Doctor"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute"
        tools:targetApi="m">
        <activity android:name=".Urology"></activity>
        <activity android:name=".SpeechLanguage" />
        <activity android:name=".Endocrinology" />
        <activity android:name=".GeneralSurgery" />
        <activity android:name=".plasticSurgery" />
        <activity android:name=".Dermatology" />
        <activity android:name=".CardiacSurgery" />
        <activity android:name=".EarNoseAndThroatENT" />
        <activity android:name=".Orthopedics" />
        <activity android:name=".ObstetricsAndGynecology" />
        <activity android:name=".DoctorList2" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".DoctorListOfNames" />
        <activity android:name=".ForgetPassword" />
        <activity
            android:name=".List_of_Medical_Specialties"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Register" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" /> <!-- android:theme="@style/Theme.Design.NoActionBar" -->
        <activity android:name=".SpleashScreen">

            <!-- android:theme="@style/Theme.Design.NoActionBar"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>